.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 80px;
    height: 80px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #c5d86d;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.green{
    color: green;
}

.red{
    color: red;
}

.pageItemActive{
  color: #260c1a;
}

.pageLinkActive{
  text-decoration: none;
  color: #f05d23 !important;
}

.page-item{
  /* color: #aeaeac; */
  /* color: #f05d23; */
  list-style-type: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.page-item > .page-link{
  color: #aeaeac;
  text-decoration: none;
  /* color: #f05d23; */
}

.input-range {
  height: 1rem;
  position: relative;
  width: 100%;
  /* margin-top: 2rem; */
}


@media (max-width:1000px){
  .page-item{
    font-size: 1.1rem;
    margin: 0 0.8rem;
  }
}

@media (max-width:600px){
  .loader{
    width: 40px;
    height: 40px;
    margin: -56px 0 0 -56px;
        
  }
    
  .page-item{
    font-size: 1rem;
    margin: 0 0.5rem;
  }
}

@media (max-width:300px){
  .page-item{
    font-size: 0.9rem;
  }
}